nav {
    min-height: 10vh;
}

.navbar-brand {
    padding-left: 2vw;
}

.kepada {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.header {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
}

.header-left {
    width: 75%;
    /* height: 500px; */
    /* background-color: blue; */
}

.header-left img {
    max-height: 695px;
}

.header-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    /* background-color: brown; */
}

.header-right-title {
    height: 70%;
    /* background-color: brown; */
    flex-direction: column;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-style: italic;
}

.header-right-couple {
    font-size: 3em;
    margin-top: 18px;
}

.header-right-date {
    font-size: 2em;
}

.header-right-button {
    height: 30%;
    /* background-color: cadetblue; */
    display: flex;
    position: relative;
    left: -50px;
    /* align-items: center; */
    /* justify-content: center; */
}

#prev-control, #next-control {
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

#prev-control {
    background-color: cadetblue;
}

#next-control {
    background-color: burlywood;
}

.image-border {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-border img {
    height: 20px;
    width: auto;
}

.first-border {
    min-height: 12vh;
}

.quote {
    text-align: center;
    font-family: 'Caveat', cursive;
}

.quote-text {
    font-size: 24px;
}

.quote-by {
    font-size: 24px;
}

.foto-pasangan {
    font-family: 'Caveat', cursive;
}

.foto-pria, .foto-wanita, .pemisah-foto {
    text-align: center;
}

.foto-pria img, .foto-wanita img {
    height: 200px;
}

/* .akad-resepsi-header {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.akad-resepsi-deskripsi {
    font-family: 'Caveat', cursive;
    font-size: 18px;
}

.akad-resepsi-text {
    text-align: center;
} */

.box-akad-resepsi {
    text-align: center;
    font-family: 'Caveat', cursive;
}

.box-akad, .box-countdown, .box-resepsi {
    height: 400px;
    /* background-color: gray; */
    padding: 2rem;
    margin: 1rem;
    border: rgba(0, 0, 0, 0.8) 3px solid;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 18px;
}

.box-countdown {
    font-size: 20px;
}


.box-title {
    font-size: 24px;
}

.box-akad-icon img, .box-resepsi-icon img, .box-countdown-icon img {
    height: 100px;
    width: auto;
}

.box-countdown-icon img {
    margin-top: 7px;
}

.box-akad-tanggal, .box-akad-waktu, .box-akad-tempat, .box-resepsi-tanggal, .box-resepsi-waktu, .box-resepsi-tempat {
    display: flex;
    flex-direction: row;
}

#box-icon {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-text {
    width: 75%;
    text-align: left;
}

.box-countdown-text {
    display: flex;
    flex-direction: row;
    flex-flow:row wrap;
}

#coundown-days, #countdown-hours, #countdown-minutes, #countdown-seconds {
    width: 50%;
}


.maps-box iframe {
    width: 80%;
    height: 60vh;
}

.video-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: -40px;
    margin-bottom: -40px;
}

.video-box iframe {
    position: absolute;
    top: 11%;
    left: 11%;
    bottom: 0;
    right: 0;
    width: 78%;
    height: 78%;
    border: none;
}

.footer {
    min-height: 50px;
    text-align: center;
    color: inherit;
}

#bliis-logo {
    font-size: 20px;
}

#bliis-logo img {
    height: 20px;
    width: 30px;
    margin-bottom: 8px;
}

#freepik {
    font-size: 12px;
}

#freepik a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 992px) { 

    .kepada {
        font-size: 16px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        min-height: 70vh;
    }

    .header-left {
        width: 100%;
        /* height: 500px; */
        /* background-color: blue; */
    }
    
    .header-left img {
        max-height: auto;
        width: 100%;
    }
    
    .header-right {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* height: 500px; */
        /* background-color: brown; */
    }

    .header-right-button {
        height: 25%;
        /* background-color: cadetblue; */
        display: flex;
        position: relative;
        left: 0;
        align-items: center;
        justify-content: center;
        margin-top: -45px;
    }

    .header-right-couple {
        font-size: 2.5em;
        margin-top: 18px;
    }

    .header-right-date {
        font-size: 1.25em;
        margin-top: 14px;
    }
    
    #prev-control, #next-control {
        opacity: 0.4
    }

    .image-border img {
        height: auto;
        width: 80%;
    }

    .foto-pria {
        margin-bottom: 1rem;
    }

    .foto-wanita {
        margin-top: 1rem;
    }

    .box-akad, .box-countdown, .box-resepsi {
        width: 75%;
    }

    .maps-box iframe {
        width: 96%;
        height: 30vh;
    }

    .video-box iframe {
        top: 5%;
        left: 5%;
        bottom: 0;
        right: 0;
        width: 90%;
        height: 90%;
    }

    .video-box {
        margin-top: 0px;
        margin-bottom: 0px;
    }

}