nav {
    min-height: 10vh;
}

.navbar-brand {
    padding-left: 2vw;
}

.kepada {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.header {
    display: flex;
    flex-direction: row;
    min-height: 75vh;
}

.header-left {
    width: 70%;
    /* height: 500px; */
    /* background-color: blue; */
}

.header-left img {
    max-height: 695px;
}

.header-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    /* background-color: brown; */
}

.header-right-title {
    height: 75%;
    /* background-color: brown; */
    flex-direction: column;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-size: 40px;
}

.header-right-date {
    font-size: 32px;
}

.header-right-button {
    height: 25%;
    /* background-color: cadetblue; */
    display: flex;
    position: relative;
    left: -50px;
    /* align-items: center; */
    /* justify-content: center; */
}

#prev-control, #next-control {
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

#prev-control {
    background-color: cadetblue;
}

#next-control {
    background-color: burlywood;
}

.image-border {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-border img {
    height: 20px;
    width: auto;
}

.quote {
    text-align: center;
    font-family: 'Caveat', cursive;
}

.quote-text {
    font-size: 24px;
}

.quote-by {
    font-size: 24px;
}

.foto-pasangan {
    font-family: 'Caveat', cursive;
}

.foto-pria, .foto-wanita, .pemisah-foto {
    text-align: center;
}

.foto-pria img, .foto-wanita img {
    height: 200px;
}

/* .akad-resepsi-header {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.akad-resepsi-deskripsi {
    font-family: 'Caveat', cursive;
    font-size: 18px;
}

.akad-resepsi-text {
    text-align: center;
} */

.box-akad-resepsi {
    text-align: center;
    font-family: 'Caveat', cursive;
}

.box-akad, .box-countdown, .box-resepsi {
    height: 400px;
    /* background-color: gray; */
    padding: 2rem;
    margin: 1rem;
    border: rgba(0, 0, 0, 0.8) 3px solid;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-title {
    font-size: 24px;
}

.box-akad-icon img, .box-resepsi-icon img {
    height: 100px;
    width: auto;
}

.maps-box iframe {
    width: 80%;
    height: 60vh;
}

.video-box iframe {
    width: 80%;
    height: 500px;
}

.footer {
    min-height: 50px;
    text-align: center;
    color:burlywood;
}

#bliis-logo {
    font-size: 20px;
}

#bliis-logo img {
    height: 20px;
    width: 30px;
    margin-bottom: 8px;
}

#freepik {
    font-size: 12px;
}

#freepik a {
    text-decoration: none;
    color:burlywood;
}
