nav {
    min-height: 5vh;
}

.navbar-brand {
    padding-left: 2vw;
}

.kepada {
    font-family: 'Caveat', cursive;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: row;
    min-height: 75vh;
}

.header-left {
    width: 70%;
    /* height: 500px; */
    /* background-color: blue; */
}

.header-left img {
    max-height: 695px;
}

.header-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    /* background-color: brown; */
}

.header-right-title {
    height: 75%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-size: 40px;
}

.header-right-button {
    height: 25%;
    /* background-color: cadetblue; */
    display: flex;
    position: relative;
    left: -50px;
    /* align-items: center; */
    /* justify-content: center; */
}

#prev-control, #next-control {
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

#prev-control {
    background-color: cadetblue;
}

#next-control {
    background-color: burlywood;
}

.image-border {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-border img {
    height: 20px;
    width: auto;
}

.quote {
    text-align: center;
    font-family: 'Caveat', cursive;
}

.quote-text {
    font-size: 24px;
}

.quote-by {
    font-size: 24px;
}

.foto-pasangan {
    font-family: 'Caveat', cursive;
}

.foto-pria, .foto-wanita, .pemisah-foto {
    text-align: center;
}

.foto-pria img, .foto-wanita img {
    height: 200px;
}

.akad-resepsi-header {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.akad-resepsi-deskripsi {
    font-family: 'Caveat', cursive;
    font-size: 18px;
}

.akad-resepsi-text {
    text-align: center;
}

.maps-box iframe {
    width: 80%;
    height: 60vh;
}
